body {
  background-color: #1b2631;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
#container1 {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 70vw;
}
#container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}
.title-name {
  color: white;
  font-size: 25px;
}
.description {
  color: white;
  font-size: 18px;
  line-height: 25px;
}
#insert-box {
  background: white;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 18px 20px;
  border-radius: 5px;
  margin: 20px 0;
}
#insert-box input {
  background: transparent;
  width: 400px;
  border: none;
  outline: none;
}
#insert-box button {
  background: transparent;
  border: none;
  cursor: pointer;
}
#insert-box img {
  width: 22px;
}
@media (max-width: 700px) {
  .title-name {
    font-size: 16px;
  }
  .description {
    font-size: 15px;
  }
  #insert-box input {
    width: 200px;
  }
}
#dog-img {
  height: 100%;
  width: 100%;
}
